<p>Welcome to <b>Fangling</b>!</p>
<p>The following user is registering,</p>
<p>{{ user.email }}</p>
<p>{{ user.username }}</p>
<p>{{ user.companyname }}</p>
<p>To confirm the account please <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
<p>Sincerely,</p>
<p>The Fangling Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>
